* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #9ed3f7a3;
  user-select: none;
  background: url('../images/bg2.png') no-repeat center center fixed;
  background-size: cover;
}

h1,
#winner-name {
  font-size: 5rem;
text-shadow:
    -1px -1px 0 whitesmoke,
    1px -1px 0 whitesmoke,
    -1px 1px 0 whitesmoke,
    1px 1px 0 whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

#player-table {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: max-content;
  background: rgba(255, 255, 255, 0.436);
  box-shadow: 4px 4px 8px grey;
  padding: 10px;
  border-radius: 10px;
  margin: auto;
}

.player-row {
  --color: #3164a6;
  display: flex;
  background-color: white;
  border-radius: 5px;
  border: 3px solid color-mix(in srgb, var(--color) 50%, rgb(70, 47, 47));
  margin: 8px 0;
  font-size: 20px;
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 8px 4px;
  min-width: 20%;
  text-align: center;
}

.header {
  background: #0077b6;
  color: white;
  font-weight: bold;
  max-width: 40%;
  padding: 8px 14px;
  border: 1px solid white;
}

.icons {
  width: 40px;
  height: 30px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: color-mix(in srgb, var(--color) 80%, rgb(194, 177, 177));
}

#winner {
  background-color: gold;
}

#exit {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  background: linear-gradient(145deg, #4f83c7, #3164a6);
  border: 2px solid #274a89;
  border-radius: 14px;
  color: #eef9ff;
  font-family: 'Cinzel', serif;
  font-size: 1.2rem;
  padding: 0.7em 1.5em;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#exit:hover {
  background: linear-gradient(145deg, #3164a6, #4f83c7);
  transform: translateY(-3px);
  box-shadow: 6px 6px 12px #1d3661, -4px -4px 8px #76aee6;
}

#exit:active {
  transform: translateY(2px);
  box-shadow: inset 3px 3px 6px #274a89;
}
