* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  --primary-color: rgb(237, 214, 190);
  --secondary-color: rgb(149, 89, 19);
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #4092c9;
  user-select: none;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

#top {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 5%;
}

#main {
  height: 90%;
  width: 80%;
}

#side-bar {
  height: 90%;
  width: 20%;
}

#side-bar-top {
  width: 100%;
  height: 60%;
}

#side-bar-bottom {
  width: 100%;
  height: 40%;
}

#main-top {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
}

#main-left {
  width: 10%;
  height: 100%;
}

#main-middle1 {
  width: 80%;
  height: 100%;
}

#main-middle2 {
  width: 10%;
  height: 100%;
  display: flex;
  align-items: flex-end;
}

.dice-container {
  display: flex;
  gap: 10px;
  margin: 2px;
  position: fixed;
  bottom: 190px;
  right: 770px;
}

.dice {
  width: 60px;
  height: 60px;
  background: white;
  border: 2px solid #000;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-items: center;
  padding: 5px;
  position: relative;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.dot {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50%;
}

.player-panel {
  width: 506px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: rgba(255, 255, 255, 0.436);
  box-shadow: 4px 4px 8px grey;
  border-radius: 10px;
  padding: 10px;
  position: fixed;
  bottom: 5%;
  right: 50px;
  overflow-x: auto;
}

.player-actions {
  width: 100px;
  height: 50%;
  display: flex;
  flex-direction: column;
}

#user-actions {
  display: flex;
  flex-direction: row;
}

.actions-btn {
  background-color: green;
  height: 40px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin: 4px;
  width: 100%;
}

#unique-cards {
  display: flex;
  justify-content: space-evenly;
}

.resource-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.count {
  width: 42px;
  position: relative;
  left: 40px;
  top: 20px;
  left: 40px;
  top: 20px;
  text-align: center;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 29px;
  color: white;
  line-height: 40px;
  background-color: rgb(168, 92, 5);
}

.devCardSet .count {
  justify-content: center;
  left: 38px;
  top: 38px;
}

.resource-cards {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  align-items: center;
}

.resource,
.dev {
  border-radius: 5px;
  transition: all 0.5s;
  position: relative;
  width: 80px;
  height: 96px;
  transform-style: preserve-3d;
}

.dev .count {
  justify-content: center;
}

.choosen {
  transform: translateY(-20px) translateZ(5px);
  box-shadow: 4px 4px 4px grey;
}

.choosen .count {
  width: 80px;
  transform: translateX(-45px);
}

.rotateY {
  transform: rotateY(180deg);
}

.rotateY .card-back {
  z-index: 3;
}

.card-front,
.card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  backface-visibility: hidden;
}

.card-back {
  padding: 2px;
  transform: rotateY(180deg);
  background-color: rgb(229, 215, 174);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.card-back p {
  color: var(--secondary-color);
  text-align: center;
}

.card-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.count {
  width: 35px;
  height: 35px;
  color: white;
  background-color: rgba(168, 92, 5, 0.622);
  display: flex;
  justify-content: flex-end;
  border-radius: 5px;
  font-size: 29px;
  /* text-align: right; */
  position: relative;
  left: 45px;
  top: 0px;
  transition: all 0.5s ease;
}

.total-count {
  display: block;
  width: 35px;
  text-align: center;
}

.count .selected-count,
.count .differentier {
  /* right: 0px; */
  opacity: 0;
  position: absolute;
  transform: translateX(0px);
  transition: all 0.5s;
}

.choosen .selected-count {
  opacity: 1;
  transform: translateX(-40px);
}

.choosen .differentier {
  opacity: 1;
  transform: translateX(-30px);
}

.card-image {
  width: 80px;
  height: 96px;
  position: absolute;
  border-radius: 5px;
}

.count-changer {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.5s;
}

.count-changer > * {
  width: 50%;
  text-align: center;
  background-color: var(--primary-color);
}

.count-changer:hover {
  cursor: pointer;
}

/* .choosen .count-changer {
  bottom: -3px;
  transform: translateY(100%);
} */

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.options {
  width: 100%;
  background-color: rgb(237, 214, 190);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  position: absolute;
  transform: translateX(-50%) translateY(-60%);
}

.option {
  width: 100%;
  padding: 2px;
  border: 1px solid rgb(122, 82, 18);
  border-radius: 3px;
  color: rgb(122, 82, 18);
  text-align: center;
  font-size: 14px;
}

.option:hover {
  background-color: rgb(122, 82, 18);
  color: rgb(237, 214, 190);
  cursor: pointer;
}

#player-list {
  flex: 1;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;
}

.player-info {
  display: flex;
  justify-content: space-between;
  background-color: #efefef;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}

.player-info div {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.no-line-through {
  text-decoration: none;
}

.line-through {
  text-decoration: line-through;
}

.invalid-msg {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8f4f4;
  color: rgb(4, 0, 0);
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 28px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.player-turn {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  font-size: 28px;
  z-index: 9999;
}

.highlight {
  cursor: pointer;
  opacity: 0.4;
}

#floating-trade-menu {
  position: absolute;
  left: 50%;
  top: 60%;
  bottom: 100px;
  right: 100px;
  background-color: #fff;
  border: 2px solid #000;
  padding: 10px;
  z-index: 10;
  display: none;
  border-radius: 8px;
}

#trade-with-bank-container {
  display: none;
  position: absolute;
  top: 60%;
  left: 52%;
  bottom: 20%;
  right: 20%;
  background-color: #ffffff;
  border: 2px solid #333;
  padding: 25px;
  z-index: 20;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
}

#trades-template {
  position: absolute;
  display: none;
  right: 30px;
  width: 250px;
  height: 200px;
  background-color: white;
  border: 2px solid #333;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 10;
  left: 50%;
  top: 60%;
}

.trade-container {
  height: calc(100% - 19px);
  overflow-y: hidden;
}

#button-container {
  width: 380px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#MTtrade-container {
  height: 100%;
}

#trade-header {
  height: 18%;
  display: flex;
  justify-content: space-around;
}

#contents {
  height: 82%;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

#contents > * {
  border: 1px solid black;
  width: calc(100% / 3 - 4px);
  border-radius: 6px;
}

#ratio {
  background-color: lightgreen;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}

.card {
  height: 50px;
  aspect-ratio: 0.666;
  border-radius: 4px;
}

.card-selected {
  border: 2px solid blue;
}

.items-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.items-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.items-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.block {
  cursor: not-allowed;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}

.special-cards-icon {
  width: 90px;
  height: 90px;
}

.special-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 2;
}

#largest-army-icon,
#longest-road-icon {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  color: black;
  align-items: center;
  justify-content: center;
}

#user-info {
  margin-left: 12px;
}

#user-info > * {
  gap: 1px;
  margin: 15px;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}

#user-info #color {
  display: flex;
  flex-direction: column;
  margin-left: 28px;
}

#unplayed-dev {
  width: 80px;
  height: 96px;
}

#display-all-dev-card {
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 510px;
  height: 158px;
  line-height: 36px;
  display: none;
  position: absolute;
  bottom: 40px;
  right: 50px;
  border: 2px solid #ccc;
  border-radius: 8px;
  transform: translateY(-130%);
}

.dev-types {
  width: 75px;
  height: 100px;
}

.hover-shadow {
  filter: url(#hover-shadow);
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.road-placeholder {
  fill: #51acd378;
  opacity: 0;
  stroke-width: 0;
  stroke: #51acd378;
}

.close-btn {
  position: absolute;
  top: 2px;
  right: 5px;
  cursor: pointer;
  font-size: 10px;
}

.road {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: expand;
}

.pieces g {
  cursor: pointer;
}

.pieces g:hover .available-settlement {
  cursor: pointer;
  stroke: #51acd3;
  stroke-opacity: 1;
  stroke-width: 3;
  transform: translateY(-3px) translateZ(5px);
}

.available-road {
  fill: #51acd3;
  opacity: 1;
  cursor: pointer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: grow;
}

.available-road:hover,
.available-settlement path:hover {
  stroke: #51acd3;
  stroke-opacity: 1;
  stroke-width: 3;
  transform: translateY(-3px) translateZ(5px);
}

.settlement {
  opacity: 0;
  fill: rgba(128, 128, 128, 0.551);
  stroke-width: 1;
  stroke: grey;
}

.available-settlement {
  opacity: 1;
  fill: #4092c9;
  stroke: #51acd378;
  cursor: pointer;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: grow;
}

.built {
  opacity: 1;
  --color: #fff;
  fill-opacity: 1;
  fill: color-mix(in srgb, var(--color) 70%, rgba(255, 255, 255, 0.877));
  stroke-width: 1;
  stop-opacity: 1;
  stroke: color-mix(in srgb, var(--color) 50%, black);
}

.city {
  opacity: 1;
  stroke-width: 2;
  stroke: white;
}

@keyframes grow {
  0% {
    fill-opacity: 0.5;
  }
  50% {
    fill-opacity: 0.75;
  }
  100% {
    fill-opacity: 0.5;
  }
}

.dice.roll {
  animation: roll 0.4s ease-in-out;
  animation: roll 0.4s ease-in-out;
}

@keyframes roll {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(1.2);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

#player-table {
  width: 506px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  /* width: max-content; */
  background: rgba(255, 255, 255, 0.436);
  box-shadow: 4px 4px 8px grey;
  padding: 10px;
  border-radius: 10px;
  position: fixed;
  right: 50px;
  top: 5%;
}

.player-row {
  --color: #3164a6;
  display: flex;
  background-color: color-mix(
    in srgb,
    rgb(237, 214, 190) 80%,
    rgb(248, 247, 247)
  );
  border-radius: 5px;
  border: 3px solid color-mix(in srgb, var(--color) 50%, rgb(70, 47, 47));
  margin: 8px 0;

  font-size: 20px;
}

.current-player {
  background-color: color-mix(in srgb, var(--color) 50%, rgb(249, 248, 248));
}

.cell {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  padding: 8px 4px;
  min-width: 70px;
  width: 100%;
  text-align: center;
}

.header {
  background: rgb(86, 154, 214);
  color: white;
  font-weight: bold;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: color-mix(in srgb, var(--color) 80%, rgb(194, 177, 177));
}

.icons {
  width: 45px;
  height: 40px;
}

.owned {
  background-color: gold;
}

#dev-cards,
#buy-dev-card,
#pass-btn {
  cursor: pointer;
}

.notification-container {
  width: 350px;
  height: 150px;
  position: absolute;
  top: 50px;
  right: 570px;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 8px;
}

.notification-container .header {
  width: 100%;
  height: 30px;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24px;
  text-transform: capitalize;
}

.notification-container .body {
  width: 100%;
  height: 80px;
  padding: 5px;
  font-size: 18px;
}

.notification-container .actions {
  width: 100%;
  height: 24px;
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}

.actions .notification-btn {
  padding: 4px 6px;
  background-color: var(--secondary-color);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: small;
  cursor: pointer;
}
.toast {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
